<footer
  class="footer text-white w-full px-[8%] py-[3rem] capitalize h-full"
  style="
    background: url('/images/footer-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
  "
>
  <div
    class="box-container w-full grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 mb-[2.3rem] gap-5 lg:gap-4 h-full"
  >
    <div class="box flex flex-col h-full">
      <h3 class="font-tf-medium text-[22.04px] pb-3">quick links</h3>
      <a class="text-sm pb-3 font-tf-regular text-gray-400" href="/">
        <i
          class="fas fa-angle-right text-custom-blue pr-[0.5rem]"
          style="transition: 0.2s linear"
        ></i>
        home</a
      >
      <a class="text-sm pb-3 font-tf-regular text-gray-400" href="/about">
        <i
          class="fas fa-angle-right text-custom-blue pr-[0.5rem]"
          style="transition: 0.2s linear"
        ></i>
        about</a
      >
      <a class="text-sm pb-3 font-tf-regular text-gray-400" href="/contact-us">
        <i
          class="fas fa-angle-right text-custom-blue pr-[0.5rem]"
          style="transition: 0.2s linear"
        ></i>
        contact us</a
      >
      <a class="text-sm pb-3 font-tf-regular text-gray-400" href="/dashboard">
        <i
          class="fas fa-angle-right text-custom-blue pr-[0.5rem]"
          style="transition: 0.2s linear"
        ></i>
        get started</a
      >
    </div>
    <div class="box flex flex-col">
      <h3 class="font-tf-medium text-[22.04px] pb-3">extra links</h3>
      <a class="text-sm pb-3 font-tf-regular text-gray-400" href="/#">
        <i
          class="fas fa-angle-right text-custom-blue pr-[0.5rem]"
          style="transition: 0.2s linear"
        ></i>
        ask questions</a
      >
      <a class="text-sm pb-3 font-tf-regular text-gray-400" href="/about">
        <i
          class="fas fa-angle-right text-custom-blue pr-[0.5rem]"
          style="transition: 0.2s linear"
        ></i>
        about us</a
      >
      <a class="text-sm pb-3 font-tf-regular text-gray-400" href="/#">
        <i
          class="fas fa-angle-right text-custom-blue pr-[0.5rem]"
          style="transition: 0.2s linear"
        ></i>
        privacy policy</a
      >
      <a class="text-sm pb-3 font-tf-regular text-gray-400" href="/#">
        <i
          class="fas fa-angle-right text-custom-blue pr-[0.5rem]"
          style="transition: 0.2s linear"
        ></i>
        terms of use</a
      >
    </div>
    <div class="box flex flex-col">
      <h3 class="font-tf-medium text-[22.04px] pb-3">contact info</h3>
      <!-- <a class="text-sm pb-3 font-tf-regular text-gray-400" href="/#">
        <i class="fas fa-phone text-custom-blue pr-[0.5rem]" style="transition: 0.2s linear"></i> +1 (205) 392-8309
      </a> -->

      <a class="text-sm pb-3 font-tf-regular text-gray-400" href="/#">
        <i
          class="fas fa-envelope text-custom-blue pr-[0.5rem]"
          style="transition: 0.2s linear"
        ></i>
        support@signalmarket.space
      </a>
      <!-- <a class="text-sm pb-3 font-tf-regular text-gray-400" href="/#">
        <i class="fas fa-map text-custom-blue pr-[0.5rem]" style="transition: 0.2s linear"></i> mumbai, india -
        400104
      </a> -->
    </div>
    <!-- <div class="box flex flex-col h-full">
      <h3 class="font-tf-medium text-[22.04px] pb-3">follow us</h3>
      <a class="text-sm pb-3 font-tf-regular text-gray-400" href="/#">
        <i
          class="fab fa-facebook-f text-custom-blue pr-[0.5rem]"
          style="transition: 0.2s linear"
        ></i>
        facebook
      </a>
      <a class="text-sm pb-3 font-tf-regular text-gray-400" href="/#">
        <i
          class="fab fa-twitter text-custom-blue pr-[0.5rem]"
          style="transition: 0.2s linear"
        ></i>
        twitter
      </a>
      <a class="text-sm pb-3 font-tf-regular text-gray-400" href="/#">
        <i
          class="fab fa-instagram text-custom-blue pr-[0.5rem]"
          style="transition: 0.2s linear"
        ></i>
        instagram
      </a>
      <a class="text-sm pb-3 font-tf-regular text-gray-400" href="/#">
        <i
          class="fab fa-linkedin text-custom-blue pr-[0.5rem]"
          style="transition: 0.2s linear"
        ></i>
        linkedin
      </a>
    </div> -->
  </div>
  <div
    class="credit pt-[2.3rem] w-full text-center border-t border-t-gray-400 font-tf-medium text-[21px]"
  >
    2024 | all rights reserved!
  </div>
</footer>
