<div class="gains bg-custom-blue mt-9 w-full" data-aos="zoom-in" data-aos-delay="900">
    <section class="flex flex-shrink-0 w-full max-w-[1180px] my-0 mx-auto p-6 lg:p-0">
        <div class="gains-items flex sm:flex-row flex-col flex-1 my-10 mx-0 text-white">
            <div class="flex-1 text-center mb-16 sm:mb-0">
                <h2 class="font-tf-medium text-[56px] leading-[48px] sm:mb-4 mb-2">
                    $450M
                </h2>
                <p class="font-tf-regular text-base opacity-70">
                    Volume traded quarterly
                </p>
            </div>
            <div class="flex-1 text-center mb-16 sm:mb-0">
                <h2 class="font-tf-medium text-[56px] leading-[48px] sm:mb-4 mb-2">
                    200+
                </h2>
                <p class="font-tf-regular text-base opacity-70">
                    Supported countries
                </p>
            </div>
            <div class="flex-1 text-center">
                <h2 class="font-tf-medium text-[56px] leading-[48px] sm:mb-4 mb-2">
                    90+M
                </h2>
                <p class="font-tf-regular text-base opacity-70">
                    Users verified
                </p>
            </div>
        </div>
    </section>
</div>