<section class="mx-auto w-full mt-9 xl:px-[5%] px-[3%]">
  <h2
    class="heading-text text-center text-[40px] font-tf-medium my-0 sm:mx-2 leading-[1.1]"
    data-aos="fade-right"
    data-aos-delay="600"
  >
    Create your cryptocurrency portfolio today
  </h2>
  <p
    class="heading-p text-center text-[17px] font-tf-regular my-4 mx-0 text-gray-600"
    data-aos="fade-left"
    data-aos-delay="700"
  >
    Signal Market has a variety of features that make it the best place to start
    trading
  </p>
  <div
    class="portfolio-section flex lg:flex-row flex-col-reverse items-center mt-[64px]"
  >
    <div class="items flex flex-col lg:my-0 mt-7 ml-0 mr-4">
      <div
        class="item-child flex sm:flex-row flex-col text-center my-0 md:mx-10 sm:text-left"
        data-aos="flip-up"
        data-aos-delay="750"
      >
        <div
          class="icon sm:mb-0 mb-6 flex-shrink-0 sm:mr-8 flex text-center items-center justify-center sm:text-right sm:items-start sm:justify-start"
        >
          <svg width="30" height="32" viewBox="0 0 30 32">
            <g fill="none" fill-rule="evenodd">
              <path fill="#D4EEFF" d="M10 32h10V10H10z" />
              <path fill="#1752F0" d="M20 32h10V0H20z" />
              <path fill="#55B4FC" d="M0 32h10V19H0z" />
            </g>
          </svg>
        </div>
        <div class="mt-0 mb-6 mx-4">
          <h2 class="text-[22px] font-tf-medium">Manage your portfolio</h2>
          <p
            class="text-[17px] font-tf-regular lead-[1.4] sm:w-[85%] text-gray-600"
          >
            Buy and sell popular digital currencies, keep track of them in the
            one place.
          </p>
        </div>
      </div>
      <div
        class="item-child flex sm:flex-row flex-col my-0 md:mx-10 text-center sm:text-left"
        data-aos="flip-down"
        data-aos-delay="790"
      >
        <div
          class="icon sm:mb-0 mb-6 flex-shrink-0 sm:mr-8 flex text-center items-center justify-center sm:text-right sm:items-start sm:justify-start"
        >
          <svg width="36" height="38" viewBox="0 0 36 38">
            <g fill="none" fill-rule="evenodd">
              <path
                d="M17.813 9.5a2.375 2.375 0 002.375-2.375v-4.75a2.375 2.375 0 00-4.75 0v4.75A2.375 2.375 0 0017.811 9.5M29.688 9.5a2.375 2.375 0 002.375-2.375v-4.75a2.375 2.375 0 00-4.75 0v4.75A2.375 2.375 0 0029.688 9.5"
                fill="#D4EEFF"
              />
              <path fill="#D4EEFF" d="M0 38h35.625V4.75H0z" />
              <path fill="#55B4FC" d="M0 11.875h35.625V4.75H0z" />
              <path
                d="M5.938 9.5a2.375 2.375 0 002.375-2.375v-4.75a2.375 2.375 0 00-4.75 0v4.75A2.375 2.375 0 005.937 9.5"
                fill="#D4EEFF"
              />
              <path
                d="M27.313 4.75v2.375a2.375 2.375 0 004.75 0V4.75h-4.75zM5.938 9.5a2.375 2.375 0 002.375-2.375V4.75h-4.75v2.375A2.375 2.375 0 005.937 9.5"
                fill="#1752F0"
              />
              <path
                d="M17.813 9.5a2.375 2.375 0 002.375-2.375v-4.75a2.375 2.375 0 00-4.75 0v4.75A2.375 2.375 0 0017.811 9.5"
                fill="#D4EEFF"
              />
              <path
                d="M17.813 9.5a2.375 2.375 0 002.375-2.375V4.75h-4.75v2.375A2.375 2.375 0 0017.811 9.5"
                fill="#1752F0"
              />
              <path fill="#FFF" d="M4.75 34.438h26.125V11.875H4.75z" />
              <path
                fill="#1752F0"
                d="M12.69 26.329l3.359 3.359L26.125 19.61l-3.358-3.359z"
              />
              <path
                fill="#1752F0"
                d="M16.049 29.688l3.359-3.36-6.244-6.243-3.359 3.36z"
              />
            </g>
          </svg>
        </div>
        <div class="mt-0 mb-6 mx-4">
          <h2 class="text-[22px] font-tf-medium">Recurring buys</h2>
          <p
            class="text-[17px] font-tf-regular lead-[1.4] sm:w-[85%] text-gray-600"
          >
            Invest in cryptocurrency slowly over time by scheduling buys daily,
            weekly, or monthly.
          </p>
        </div>
      </div>
      <div
        class="item-child flex sm:flex-row flex-col my-0 md:mx-10 text-center sm:text-left"
        data-aos="flip-up"
        data-aos-delay="800"
      >
        <div
          class="icon sm:mb-0 mb-6 flex-shrink-0 sm:mr-8 flex text-center items-center justify-center sm:text-right sm:items-start sm:justify-start"
        >
          <svg width="36" height="36" viewBox="0 0 36 36" fill="none">
            <path d="M36 2.25H0v31.5h36V2.25z" fill="#D4EEFF" />
            <path
              d="M28.125 36H7.875a1.128 1.128 0 01-1.125-1.125V1.125C6.75.506 7.256 0 7.875 0h20.25c.618 0 1.125.506 1.125 1.125v33.75c0 .619-.507 1.125-1.125 1.125z"
              fill="#56B4FC"
            />
            <path d="M29.25 2.25H6.75v31.5h22.5V2.25z" fill="#1652F0" />
            <path
              d="M23 15.137L21.889 14l-6.667 6.822 1.11 1.137L23 15.137z"
              fill="#fff"
            />
            <path
              d="M16.334 22l1.11-1.137-3.333-3.411-1.11 1.137L16.333 22z"
              fill="#fff"
            />
            <path
              d="M23.625 3.375h-11.25a1.128 1.128 0 01-1.124-1.125V1.125h13.5V2.25c0 .619-.507 1.125-1.126 1.125z"
              fill="#56B4FC"
            />
            <path
              d="M15.75 32.063c0 .337.226.562.563.562h3.375c.338 0 .563-.225.563-.562 0-.338-.226-.563-.563-.563h-3.375c-.337 0-.562.225-.562.563z"
              fill="#fff"
            />
          </svg>
        </div>
        <div class="mt-0 mb-6 mx-4">
          <h2 class="text-[22px] font-tf-medium">Mobile apps</h2>
          <p
            class="text-[17px] font-tf-regular lead-[1.4] sm:w-[85%] text-gray-600"
          >
            Stay on top of the markets with the Signal Market app for Android or
            iOS.
          </p>
        </div>
      </div>
    </div>
    <div
      class="portfolio-section-img max-w-[70%]"
      data-aos="flip-left"
      data-aos-delay="800"
    >
      <img src="/images/dashboard2.png" alt="" class="w-full" />
    </div>
  </div>
</section>
