<section data-aos="flip-right" class="mb-8 px-[5%] mx-0 w-auto h-auto justify-center text-center flex-wrap mt-8" style="max-width: 1200px">
  <h2 class="heading-text mb-6 heading-text text-center text-[40px] font-tf-medium my-0 sm:mx-1 leading-[1.1]">
    Pricing plans
  </h2>
  <div class="flex justify-center text-center flex-wrap w-auto h-auto">
    <div class="column" data-aos="zoom-in-up" data-aos-delay="650">
      <div class="pricing-card basic">
        <div class="pricing-header">
          <span class="plan-title font-tf-medium">KILO</span>
          <div class="price-circle">
            <span class="price-title font-tf-medium">
              <small class="">$</small><span>1000</span>
            </span>
            <span class="info font-tf-regular">/ Week</span>
          </div>
        </div>
        <div class="badge-box font-tf-regular">
          <span>Save 35%</span>
        </div>
        <ul>
          <li class="font-tf-medium">
            <!-- <strong class="font-tf-medium">1</strong> Domain -->
            Bitcoin mining / trading
          </li>
          <li class="font-tf-medium">
            <!-- <strong class="font-tf-medium">10 GB</strong> Disk Space -->
            10% earning profit
          </li>
          <li class="font-tf-medium">
            <!-- <strong class="font-tf-medium">50 GB</strong> Bandwith -->
            Unlimited cap
          </li>
          <li class="font-tf-medium">
            <!-- <strong class="font-tf-medium">1 Free</strong> Domain -->
            Crypto rise earnings
          </li>
        </ul>
        <div class="buy-button-box">
          <a href="/dashboard" class="buy-now font-tf-demi-bold">TRADE NOW</a>
        </div>
      </div>
    </div>

    <div class="column" data-aos="zoom-in-up" data-aos-delay="700">
      <div class="pricing-card pro">
        <div class="popular font-tf-medium">POPULAR</div>
        <div class="pricing-header">
          <span class="plan-title font-tf-medium">MEGA</span>
          <div class="price-circle">
            <span class="price-title font-tf-medium">
              <small>$</small><span>10K</span>
            </span>
            <span class="info font-tf-regular">/ Month</span>
          </div>
        </div>
        <div class="badge-box font-tf-regular">
          <span>Save 8%</span>
        </div>
        <ul>
          <li class="font-tf-medium">
            <!-- <strong class="font-tf-medium">1</strong> Domain -->
            Bitcoin mining / trading
          </li>
          <li class="font-tf-medium">
            <!-- <strong class="font-tf-medium">10 GB</strong> Disk Space -->
            10% earning profit
          </li>
          <li class="font-tf-medium">
            <!-- <strong class="font-tf-medium">50 GB</strong> Bandwith -->
            Unlimited cap
          </li>
          <li class="font-tf-medium">
            <!-- <strong class="font-tf-medium">1 Free</strong> Domain -->
            Crypto rise earnings
          </li>
        </ul>
        <div class="buy-button-box">
          <a href="/dashboard" class="buy-now font-tf-demi-bold">TRADE NOW</a>
        </div>
      </div>
    </div>

    <div class="column" data-aos="zoom-in-up" data-aos-delay="750">
      <div class="pricing-card echo">
        <div class="pricing-header">
          <span class="plan-title font-tf-medium">GiGa</span>
          <div class="price-circle">
            <span class="price-title font-tf-medium">
              <small>$</small><span>5000</span>
            </span>
            <span class="info font-tf-reqular">/ Month</span>
          </div>
        </div>
        <div class="badge-box font-tf-regular">
          <span>Save 20%</span>
        </div>
        <ul>
          <li class="font-tf-medium">
            <!-- <strong class="font-tf-medium">1</strong> Domain -->
            Bitcoin mining / trading
          </li>
          <li class="font-tf-medium">
            <!-- <strong class="font-tf-medium">10 GB</strong> Disk Space -->
            10% earning profit
          </li>
          <li class="font-tf-medium">
            <!-- <strong class="font-tf-medium">50 GB</strong> Bandwith -->
            Unlimited cap
          </li>
          <li class="font-tf-medium">
            <!-- <strong class="font-tf-medium">1 Free</strong> Domain -->
            Crypto rise earnings
          </li>
        </ul>
        <div class="buy-button-box">
          <a href="/dashboard" class="buy-now font-tf-demi-bold">TRADE NOW</a>
        </div>
      </div>
    </div>
    <div class="column md:hidden sm:block">

    </div>
  </div>
</section>