<section data-aos="flip-left" data-aos-delay="550" class="mx-auto w-full mb-8 lg:px-[5%] overflow-x-auto">
  <table class="content-table border-collapse w-full font-tf-regular text-[18px] rounded-lg md:border border-gray-300">
    <thead class="text-left text-[15px] md:contents hidden">
      <tr>
        <th class="text-center py-5 px-4">#</th>
        <th class="py-5 px-4">Name</th>
        <th class="py-5 px-4">Price</th>
        <th class="py-5 px-4">Change</th>
        <!-- <th class="py-5 px-4">Chart</th> -->
        <th class="py-5 px-4">Trade</th>
      </tr>
    </thead>
    <tbody class="">
      <tr class="border border-gray-300">
        <td class="count md:flex flex-col hidden text-center text-lg text-gray-600 py-5 px-4">1</td>
        <td class="md:py-5 md:px-4 py-4 px-6">
          <div class="flex flex-auto items-center flex-row">
            <img class="mr-[16px] flex-shrink-0 h-9 w-9 inline-block rounded-full" src="/images/btc.png" alt="" srcset="">
            <div class="flex flex-col md:flex-row">
              <span class="md:mr-[16px] inline-block">Bitcoin</span>
              <span class="inline-block text-gray-600">BTC</span>
            </div>
          </div>
        </td>
        <td class="md:py-5 md:px-4 py-4 px-6">
          <div class="flex flex-col md:flex-row md:items-start items-end">

            <span>$500.00</span>
            <span class="text-red-600 md:hidden">+2.19%</span>
          </div>
        </td>
        <td class="py-5 px-4 md:table-cell hidden">

          <span class="text-red-600">+2.19%</span>
        </td>
        <td class="py-5 px-4 md:table-cell hidden">
          <a href="#/" class="invest-btn rounded-md text-sm text-white bg-custom-green px-4 py-2">Invest</a>
        </td>
      </tr>
      <tr class="border border-gray-300">
        <td class="count md:flex flex-col hidden text-center text-lg text-gray-600 py-5 px-4">2</td>
        <td class="md:py-5 md:px-4 py-4 px-6">
          <div class="flex flex-auto items-center flex-row">
            <img class="mr-[16px] flex-shrink-0 h-9 w-9 inline-block rounded-full" src="/images/eth.png" alt="" srcset="">
            <div class="flex flex-col md:flex-row">
              <span class="md:mr-[16px] inline-block">Ethereum</span>
              <span class="inline-block text-gray-600">ETH</span>
            </div>
          </div>
        </td>
        <td class="md:py-5 md:px-4 py-4 px-6">
          <div class="flex flex-col md:flex-row md:items-start items-end">

            <span>$500.00</span>
            <span class="text-red-600 md:hidden">+2.19%</span>
          </div>
        </td>
        <td class="py-5 px-4 md:table-cell hidden">

          <span class="text-red-600">+2.19%</span>
        </td>
        <td class="py-5 px-4 md:table-cell hidden">
          <a href="#/" class="invest-btn rounded-md text-sm text-white bg-custom-green px-4 py-2">Invest</a>
        </td>
      </tr>
      <tr class="border border-gray-300">
        <td class="count md:flex flex-col hidden text-center text-lg text-gray-600 py-5 px-4">3</td>
        <td class="md:py-5 md:px-4 py-4 px-6">
          <div class="flex flex-auto items-center flex-row">
            <img class="mr-[16px] flex-shrink-0 h-9 w-9 inline-block rounded-full" src="/images/cardona.png" alt="" srcset="">
            <div class="flex flex-col md:flex-row">
              <span class="md:mr-[16px] inline-block">Cardano</span>
              <span class="inline-block text-gray-600">ADA</span>
            </div>
          </div>
        </td>
        <td class="md:py-5 md:px-4 py-4 px-6">
          <div class="flex flex-col md:flex-row md:items-start items-end">

            <span>$500.00</span>
            <span class="text-red-600 md:hidden">+2.19%</span>
          </div>
        </td>
        <td class="py-5 px-4 md:table-cell hidden">

          <span class="text-red-600">+2.19%</span>
        </td>
        <td class="py-5 px-4 md:table-cell hidden">
          <a href="#/" class="invest-btn rounded-md text-sm text-white bg-custom-green px-4 py-2">Invest</a>
        </td>
      </tr>
      <tr class="border-t border-gray-300">
        <td class="count md:flex flex-col hidden text-center text-lg text-gray-600 py-5 px-4">4</td>
        <td class="py-5 px-4 align-middle">
          <div class="flex flex-auto items-center flex-row">
            <img class="mr-[16px] flex-shrink-0 h-9 w-9 inline-block rounded-full" src="/images/solana.png" alt="" srcset="">
            <div class="flex flex-col md:flex-row">
              <span class="md:mr-[16px] inline-block">Solana</span>
              <span class="inline-block text-gray-600">SOL</span>
            </div>
          </div>
        </td>
        <td class="md:py-5 md:px-4 py-4 px-6">
          <div class="flex flex-col md:flex-row md:items-start items-end">

            <span>$500.00</span>
            <span class="text-red-600 md:hidden">+2.19%</span>
          </div>
        </td>
        <td class="py-5 px-4 md:table-cell hidden">

          <span class="text-red-600">+2.19%</span>
        </td>
        <td class="py-5 px-4 md:table-cell hidden">
          <a href="#/" class="invest-btn rounded-md text-sm text-white bg-custom-green px-4 py-2">Invest</a>
        </td>
      </tr>
      <!-- </tr> -->
    </tbody>
  </table>
</section>