<!-- reviews section starts  -->

<!-- Swiper -->
<h2 class="flex text-center text-[35px] mb-8 font-tf-medium sm:mx-1 leading-[1.1] justify-center px-[2%]">
  What people say about us
</h2>
<section class="mb-8 mx-auto w-full px-[5%] mt-9 bg-custom-blue py-8">
  <!-- <div class="swiper mySwiper"> -->
  <!-- <div class="section mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="testimonialBox">

          <div class="quote">
            <i class="fas fa-light fa-quote-left text-3xl"></i>
          </div>
          <div class="content">
            <p>I invested in crypto because I was following what Xtb Online Trade was saying and I was about to
              pull
              out all my money but i felt confident keep staying in because i have a proffessional guiding
              me
              so I made $50, 00in two months thanks to fxnetwork I really needed that.</p>
            <div class="details">
              <div class="imgBx">
                <img src="https://images.unsplash.com/photo-1603415526960-f7e0328c63b1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" />
              </div>
              <h3>Martha Brown <br><span>Chief Marketing Officer</span></h3>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="testimonialBox">

          <div class="quote">
            <i class="fas fa-light fa-quote-left text-3xl"></i>
          </div>
          <div class="content">
            <p>Within one week of joining Xtb Online Trade, I profited enough to pay two years worth of membership
              fees.</p>
            <div class="details">
              <div class="imgBx">
                <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=334&q=80" />
              </div>
              <h3>Ronne Galle <br><span>Hollywood Actress</span></h3>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="testimonialBox">

          <div class="quote">
            <i class="fas fa-light fa-quote-left text-3xl"></i>
          </div>
          <div class="content">
            <p>My mind in blown away from the value in this trade group. It's helped me make way less risky
              decisions than by myself I would have been making. Highly recomended joining if you wanted
              to
              lower your risk if you are investing in crypto.</p>
            <div class="details">
              <div class="imgBx">
                <img src="https://images.unsplash.com/photo-1598550874175-4d0ef436c909?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" />
              </div>
              <h3>Hannah Lissem <br><span>Entrepreneur</span></h3>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="testimonialBox">

          <div class="quote">
            <i class="fas fa-light fa-quote-left text-3xl"></i>
          </div>
          <div class="content">
            <p> Great platform. Have doubled my account since joining. 12k to 24k. And now I plan on scaling
              and
              turning this into 100k in the next 2months. Excited to see where Xtb Online Trade takes us next.
            </p>
            <div class="details">
              <div class="imgBx">
                <img src="https://images.unsplash.com/photo-1606513542745-97629752a13b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" />
              </div>
              <h3>Missy Limana <br><span>Musician</span></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="section">
    <div class="swiper-slide" data-aos="flip-up">
      <div class="testimonialBox">

        <div class="quote">
          <i class="fas fa-light fa-quote-left text-3xl"></i>
        </div>
        <div class="content">
          <p>I invested in crypto because I was following what Xtb Online Trade was saying and I was about to
            pull
            out all my money but i felt confident keep staying in because i have a proffessional guiding
            me
            so I made $50, 00in two months thanks to fxnetwork I really needed that.</p>
          <div class="details">
            <div class="imgBx">
              <img src="https://images.unsplash.com/photo-1603415526960-f7e0328c63b1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" />
            </div>
            <h3>Martha Brown <br><span>Chief Marketing Officer</span></h3>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide" data-aos="flip-down" data-aos-delay="600">
      <div class="testimonialBox">

        <div class="quote">
          <i class="fas fa-light fa-quote-left text-3xl"></i>
        </div>
        <div class="content">
          <p>Within one week of joining Xtb Online Trade, I profited enough to pay two years worth of membership
            fees.</p>
          <div class="details">
            <div class="imgBx">
              <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=334&q=80" />
            </div>
            <h3>Ronne Galle <br><span>Hollywood Actress</span></h3>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide" data-aos="flip-up" data-aos-delay="650">
      <div class="testimonialBox">

        <div class="quote">
          <i class="fas fa-light fa-quote-left text-3xl"></i>
        </div>
        <div class="content">
          <p>My mind in blown away from the value in this trade group. It's helped me make way less risky
            decisions than by myself I would have been making. Highly recomended joining if you wanted
            to
            lower your risk if you are investing in crypto.</p>
          <div class="details">
            <div class="imgBx">
              <img src="https://images.unsplash.com/photo-1598550874175-4d0ef436c909?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" />
            </div>
            <h3>Hannah Lissem <br><span>Entrepreneur</span></h3>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide" data-aos="flip-down" data-aos-delay="690">
      <div class="testimonialBox">

        <div class="quote">
          <i class="fas fa-light fa-quote-left text-3xl"></i>
        </div>
        <div class="content">
          <p> Great platform. Have doubled my account since joining. 12k to 24k. And now I plan on scaling
            and
            turning this into 100k in the next 2months. Excited to see where Xtb Online Trade takes us next.
          </p>
          <div class="details">
            <div class="imgBx">
              <img src="https://images.unsplash.com/photo-1606513542745-97629752a13b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" />
            </div>
            <h3>Missy Limana <br><span>Musician</span></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- reviews section ends -->

<style>
  .section {
    /* position: relative; */
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    /* min-height: 100vh; */
    /* justify-content: center;
    align-items: center; */
    /* background-color: aqua; */
    /* overflow: hidden; */
    /* padding-top: 50px; */
    /* padding-bottom: 50px; */
  }

  @media (min-width: 768px) {
    .section {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (min-width: 1024px) {
    .section {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  /* .swiper {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    } */

  .swiper-slide {
    background-position: center;
    background-size: cover;
    /* width: 320px; */
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    /* filter: blur(4px); */
    border-radius: 10px;
    /* height: 300px; */
  }

  .swiper-slide-active {
    filter: blur(0px);
    background: #fff;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

  .testimonialBox {
    position: relative;
    width: 100%;
    padding: 40px;
    padding-top: 90px;
    color: #999;
  }

  .testimonialBox .quote {
    position: absolute;
    top: 20px;
    right: 30px;
    /* opacity: 0.2; */
  }

  .testimonialBox .details {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  .testimonialBox .details .imgBx {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }

  .testimonialBox .details .imgBx img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  .testimonialBox .details h3 {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.1em;
    color: #2196f3;
    font-family: TTFirsNeue-Medium;
  }

  .testimonialBox .details h3 span {
    font-size: 12px;
    color: black;
  }

  .swiper-container-3d .swiper-slider-shadow-left,
  .swiper-container-3d .swiper-slider-shadow-right {
    background-image: none;
  }
</style>