<%- include ("./partials/header.ejs") %>

<div
  class="grid grid-flow-row lg:grid-flow-col lg:auto-cols-fr auto-row-max max-w-[1180px] mx-auto p-6 lg:p-0 w-full gap-8 lg:mt-5"
>
  <img
    src="https://itrade-apex.com/images/about/1.jpg"
    alt=""
    class="lg:rounded-xl rounded-lg"
  />
  <div class="flex flex-col gap-4">
    <h2 class="text-[24px] font-tf-medium">Our Story</h2>
    <p class="text-[17px] font-tf-regular lead-[1.4] text-gray-600">
      Back in 2014, as experienced professional Wall Street traders and
      investors, Brett K. Rentmeester and other founding members of Signal
      Market identified a lack of professionalism, trustworthiness, and customer
      support within the crypto industry. In the following two years, the number
      of users engaging in cryptocurrency trading increased significantly.
      Nevertheless, existing exchanges showed little to no improvement.
      Realizing the seriousness of the problem, the team left Wall Street and
      founded Signal Market in the summer of 2015. They then dedicated
      themselves to building a simple, efficient, but most importantly, a
      trusted cryptocurrency trading platform. Then, on July 2020, the Signal
      Market platform officially went live.
    </p>
  </div>
</div>
<div
  class="grid grid-flow-row lg:grid-flow-col lg:auto-cols-fr auto-row-max max-w-[1180px] mx-auto p-6 lg:p-0 w-full gap-8 lg:mt-6"
>
  <div class="flex flex-col gap-4">
    <h2 class="text-[24px] font-tf-medium">Our Mission</h2>
    <p class="text-[17px] font-tf-regular lead-[1.4] text-gray-600">
      To empower everyone to trade simply and manage risk efficiently From day
      one, our mission was and will always continue to be the empowerment of
      individuals. We want everyone in this world to have access to the right
      set of tools that will allow them to manage risk efficiently and trade
      simply. We sincerely believe this to be a fundamental right that all
      traders should enjoy.
    </p>
  </div>
  <div class="flex flex-col gap-4">
    <h2 class="text-[24px] font-tf-medium">Our Vision</h2>
    <p class="text-[17px] font-tf-regular lead-[1.4] text-gray-600">
      Become the most trustworthy cryptocurrency and derivatives trading
      platform We see ourselves becoming a leading financial services provider
      in this industry, one that is unrivaled in trustworthiness, honesty, and
      integrity. Above all else, we wish to stand out for how we treat our
      customers. However, we will never compromise or abandon our firm
      commitment to deliver the highest level of quality products and services
      as we continue to grow with our community.
    </p>
  </div>
</div>

<div
  class="grid grid-flow-row lg:grid-flow-col lg:auto-cols-fr auto-row-max max-w-[1180px] mx-auto p-6 lg:p-0 w-full gap-8 lg:mt-6"
>
  <div class="flex flex-col gap-4">
    <h2 class="text-[24px] font-tf-medium">Our Values</h2>
    <p class="text-[17px] font-tf-regular lead-[1.4] text-gray-600">
      Led by 8 former Morgan Stanley Executives, Phemex's goal is to build the
      worlds most trustworthy cryptocurrency derivatives trading platform. We
      leverage a “User-Oriented” approach to develop far more powerful features
      than any existing exchange. Above all, we place customers first. All of
      our features and tools are designed with this philosophy in mind. This is
      why our development team is directly available and constantly gathering
      feedback, comments, and requests from our community on social media.
    </p>
  </div>
  <img
    src="https://itrade-apex.com/images/about/2.jpg"
    alt=""
    class="lg:rounded-xl rounded-lg"
  />
</div>

<div
  class="max-w-[1180px] mx-auto p-6 lg:p-0 w-full gap-9 lg:mt-8 flex flex-col"
>
  <h2 class="text-[24px] font-tf-medium">MSB Registration</h2>
  <p class="text-[17px] font-tf-regular lead-[1.4] text-gray-600">
    Signal Market is the most trustworthy platform. We are now a fully
    registered Money Services Business (MSB) with the Financial Crimes
    Enforcement Network Department. Safely deposit and trade your funds on a
    platform that is entirely worry-free.
  </p>
  <p class="text-[17px] font-tf-regular lead-[1.4] text-gray-600 sm:w-[33%]">
    Central Registration Depository: 166124 U.S. Securities and Exchange
    Commission: 801-106722 Registration Type: Initial Registration Legal Name:
    Windrock Wealth Management Alternative Name: Cryptox Advisory DBA Name:
  </p>
  <p class="text-[17px] font-tf-regular lead-[1.4] text-gray-600 sm:w-[20%]">
    City: NAPERVILLE State: ILLIONIOS Zip: 60540
  </p>
</div>

<div class="lg:mt-6"><%- include ('./partials/footer.ejs') %></div>
