<div class="h-screen">
  <%- include ("./partials/header.ejs") %>

  <div class="flex justify-center lg:h-[calc(50%_-_100px)] h-[calc(85%_-_100px)] lg:mt-5">
    <div class="flex flex-col gap-7 max-w-[1180px] mx-auto p-6 lg:p-0 w-full">
      <h2 class="text-[32px] font-tf-demi-bold">
        Let us hear from you directly!
      </h2>
      <p class="text-[17px] font-tf-regular lead-[1.4] text-gray-600">
        We always want to hear from you! Let us know how we can best help you and we'll do our very best.
      </p>
      <p class="text-[17px] font-tf-regular lead-[1.4] text-gray-600">
        Send us an email to xtbonlinetrade.fx@gmail.com
      </p>

    </div>
  </div>

  <div class="lg:mt-6">
    <%- include ('./partials/footer.ejs') %>
  </div>
</div>
