<div class="settings mtb15">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-lg-3"><%- include("./partials/sidenav") %></div>
      <div class="col-md-12 col-lg-9">
        <div class="tab-content" id="v-pills-tabContent">
          <div
            class="tab-pane fade active show"
            id="withdraw"
            role="tabpanel"
            aria-labelledby="wallet-tab"
          >
            <div class="wallet">
              <div class="row">
                <div class="col-md-12 col-lg-8 mr-2">
                  <div class="tab-content">
                    <div
                      class="tab-pane fade show active"
                      id="coinBTC"
                      role="tabpanel"
                    >
                      <% if (error_msg !="" ) { %>
                      <div
                        class="alert alert-danger d-flex align-items-center"
                        role="alert"
                      >
                        <svg
                          class="bi flex-shrink-0 me-2"
                          width="24"
                          height="24"
                          role="img"
                          aria-label="Danger:"
                        >
                          <use xlink:href="#exclamation-triangle-fill" />
                        </svg>
                        <div>
                          <strong>Error: </strong>
                          <%=error_msg%>
                        </div>
                      </div>
                      <% } %> <% if (success_msg !="" ) { %>
                      <div
                        class="alert alert-success d-flex align-items-center"
                        role="alert"
                      >
                        <svg
                          class="bi flex-shrink-0 me-2"
                          width="24"
                          height="24"
                          role="img"
                          aria-label="Success:"
                        >
                          <use xlink:href="#check-circle-fill" />
                        </svg>
                        <div>
                          <strong>Success: </strong>
                          <%= success_msg %>
                        </div>
                      </div>
                      <% } %>
                      <!-- <div class="vh-100 d-flex justify-content-center"> -->

                      <div class="form-access mx-auto">
                        <form action="/dashboard/deposit" method="post">
                          <span>Deposit to your wallet</span>

                          <div class="form-group">
                            <input
                              type="text"
                              name="amount"
                              class="form-control"
                              placeholder="Deposit amount"
                            />
                          </div>
                          <div class="form-group">
                            <input
                              type="text"
                              name="amount"
                              class="form-control"
                              placeholder="Deposit amount"
                            />
                          </div>
                          <button type="submit" class="btn btn-primary">
                            Deposit
                          </button>
                        </form>
                      </div>
                      <!-- </div> -->
                      <!-- Bitcoin -->
                      <div class="card mt-4">
                        <div class="card-body">
                          <h5 class="card-title">
                            Bitcoin Wallet Deposit Address
                          </h5>
                          <div class="row wallet-address">
                            <div class="col-md-12">
                              <p>
                                Deposits to this address are unlimited. Note
                                that you may not be able to withdraw all of your
                                funds at once if you deposit more than your
                                daily withdrawal limit.
                              </p>
                              <div class="input-group">
                                <input
                                  type="text"
                                  class="form-control"
                                  value="bc1qmvy8feydpynqn8gp6yvhvdrelcvnr8fpa7z8ne"
                                  style="
                                    -moz-user-select: none;
                                    -webkit-user-select: none;
                                    -ms-user-select: none;
                                    user-select: none;
                                    -o-user-select: none;
                                  "
                                  unselectable="on"
                                  onselectstart="return false;"
                                  onmousedown="return false;"
                                  id="btc-value"
                                />
                                <div class="input-group-prepend">
                                  <button
                                    id="btc-button"
                                    class="btn btn-primary"
                                  >
                                    COPY
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Ethereum -->
                      <div class="card mt-4">
                        <div class="card-body">
                          <h5 class="card-title">
                            Ethereum Wallet Deposit Address
                          </h5>
                          <div class="row wallet-address">
                            <div class="col-md-12">
                              <p>
                                Deposits to this address are unlimited. Note
                                that you may not be able to withdraw all of your
                                funds at once if you deposit more than your
                                daily withdrawal limit.
                              </p>
                              <div class="input-group">
                                <input
                                  type="text"
                                  class="form-control"
                                  value="0x2aBf12e11dcCB8ecF9522453BD41FF4b67b085Fd"
                                  style="
                                    -moz-user-select: none;
                                    -webkit-user-select: none;
                                    -ms-user-select: none;
                                    user-select: none;
                                    -o-user-select: none;
                                  "
                                  unselectable="on"
                                  onselectstart="return false;"
                                  onmousedown="return false;"
                                  id="eth-value"
                                />
                                <div class="input-group-prepend">
                                  <button
                                    id="eth-button"
                                    class="btn btn-primary"
                                  >
                                    COPY
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Usdt erc20 -->
                      <div class="card mt-4">
                        <div class="card-body">
                          <h5 class="card-title">
                            USDT erc20 Wallet Deposit Address
                          </h5>
                          <div class="row wallet-address">
                            <div class="col-md-12">
                              <p>
                                Deposits to this address are unlimited. Note
                                that you may not be able to withdraw all of your
                                funds at once if you deposit more than your
                                daily withdrawal limit.
                              </p>
                              <div class="input-group">
                                <input
                                  type="text"
                                  class="form-control"
                                  value="0x2aBf12e11dcCB8ecF9522453BD41FF4b67b085Fd"
                                  style="
                                    -moz-user-select: none;
                                    -webkit-user-select: none;
                                    -ms-user-select: none;
                                    user-select: none;
                                    -o-user-select: none;
                                  "
                                  unselectable="on"
                                  onselectstart="return false;"
                                  onmousedown="return false;"
                                  id="erc20-value"
                                />
                                <div class="input-group-prepend">
                                  <button
                                    id="erc20-button"
                                    class="btn btn-primary"
                                  >
                                    COPY
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Usdt trc20 -->
                      <div class="card mt-4">
                        <div class="card-body">
                          <h5 class="card-title">
                            USDT trc20 Wallet Deposit Address
                          </h5>
                          <div class="row wallet-address">
                            <div class="col-md-12">
                              <p>
                                Deposits to this address are unlimited. Note
                                that you may not be able to withdraw all of your
                                funds at once if you deposit more than your
                                daily withdrawal limit.
                              </p>
                              <div class="input-group">
                                <input
                                  type="text"
                                  class="form-control"
                                  value="TKLNySPTXQwU7pT4y8pUBfXhnV5Qa6xhMK
                                "
                                  style="
                                    -moz-user-select: none;
                                    -webkit-user-select: none;
                                    -ms-user-select: none;
                                    user-select: none;
                                    -o-user-select: none;
                                  "
                                  unselectable="on"
                                  onselectstart="return false;"
                                  onmousedown="return false;"
                                  id="trc20-value"
                                />
                                <div class="input-group-prepend">
                                  <button
                                    id="trc20-button"
                                    class="btn btn-primary"
                                  >
                                    COPY
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  let trc20Button = document.getElementById("trc20-button");
  let btcButton = document.getElementById("btc-button");
  let ethButton = document.getElementById("eth-button");
  let erc20Button = document.getElementById("erc20-button");

  let erc20Value = document.getElementById("erc20-value");
  let trc20Value = document.getElementById("trc20-value");
  let ethValue = document.getElementById("eth-value");
  let btcValue = document.getElementById("btc-value");

  trc20Button.onclick = () => {
    navigator.clipboard.writeText(trc20Value.value).then(() => {
      trc20Button.textContent = "COPIED";
      setTimeout(() => {
        trc20Button.textContent = "COPY";
      }, 800);
    });
  };
  btcButton.onclick = () => {
    navigator.clipboard.writeText(btcValue.value).then(() => {
      btcButton.textContent = "COPIED";
      setTimeout(() => {
        btcButton.textContent = "COPY";
      }, 800);
    });
  };
  ethButton.onclick = () => {
    navigator.clipboard.writeText(ethValue.value).then(() => {
      // navigator.clipboard.writeText("0x9c41CA5EF30802e81a70Fda1Dff69e263436bEa8").then(() => {
      ethButton.textContent = "COPIED";
      setTimeout(() => {
        ethButton.textContent = "COPY";
      }, 800);
    });
  };
  erc20Button.onclick = () => {
    navigator.clipboard.writeText(erc20Value.value).then(() => {
      erc20Button.textContent = "COPIED";
      setTimeout(() => {
        erc20Button.textContent = "COPY";
      }, 800);
    });
  };
</script>
